/* Add New Breed */

#newBreedsImg {
   background-image: url("../images/field.jpg");
   background-position: center;
   background-repeat: no-repeat;
}

#quizImg {
  background-image: url("../images/mountain_dog.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}

.list-group-item {
  line-height: 2.5;
}

h2{
  align-content: center;
 
}

#myModal{
  display: none;
  width: 76%;
  padding: 10px;
  text-align: center;
  background-color: rgba(54, 54, 54, 0.8);
  
}

.textSection {
  display: inline-block;
  padding-bottom: 20px;
  color: #fefefe;
}
.imgSection {
  display: inline-block;
  padding: 10px;
}
.close-reveal-modal{
  font-size: 15px;
}

.translucent-quiz-overlay {
  width: 76%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 10px;
  color: #fefefe;
}

.translucent-quiz-overlay label {
  color: #fefefe;
}

/* Search Button */

#submit-btn {
  background-color: #1779ba;
  color: white;
}

#footer {
  width: 100%
}
