.list-group-item {
  line-height: 2.5;
}

h2{
  align-content: center;
 
}

#myModal{
  display: none;
  width: 80%;
  padding-left: 450px;
  padding-bottom: 20px;
  
}
/* .modalImage {
  float: right;
} */

.translucent-quiz-overlay {
  width: 80%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 10px;
  color: #fefefe;
}

.translucent-quiz-overlay label {
  color: #fefefe;
}
